<% provide :title, 'New Post' %>
<%= render 'shared/click' %>
<h1 style="margin-bottom:1em">New Post</h1>

<%= button_to 'Back', root_path, method: :get, class: 'btn btn-dark' %>

<%= render 'form', post: @post %>
